#Madrid {
    background-color: #f00;
    color: #fff;
}

#Barcelona {
    background-color: #00f;
    color: #fff;
}

#Sevilla {
    background-color: #0f0;
    color: #000;
}

#Valencia {
    background-color: #ff0;
    color: #000;
}

#Zaragoza {
    background-color: #f0f;
    color: #000;
}